<aside class="sidebar">

    <div class="brand">
        <div class="brand-icon">
            C
        </div>

        <div>
            <h2>Cyberion</h2>
            <span>ThreatShield</span>
        </div>
    </div>

    <nav class="nav-menu">

        <a class="nav-item {% if active_page == 'dashboard' %}active{% endif %}"
           href="/">
            Dashboard
        </a>

        <a class="nav-item"
           href="/#scanner">
            Threat Scanner
        </a>

        <a class="nav-item {% if active_page == 'rules' %}active{% endif %}"
           href="/rules">
            Detection Rules
        </a>

        <a class="nav-item {% if active_page == 'history' %}active{% endif %}"
           href="/history">
            Scan History
        </a>

        <a class="nav-item {% if active_page == 'alerts' %}active{% endif %}"
           href="/alerts">
            Alerts
        </a>

        <a class="nav-item {% if active_page == 'status' %}active{% endif %}"
           href="/status">
            System Status
        </a>
                <a class="nav-item {% if active_page == 'profile' %}active{% endif %}"
           href="{{ url_for('profile') }}">
            Profile
        </a>
        <a class="nav-item logout-item"
   href="{{ url_for('logout') }}">
    Logout
</a>

    </nav>

    <div class="sidebar-footer">
        <p>Detection Engine</p>
        <strong>Online</strong>
    </div>

</aside>
<script>
    if ("scrollRestoration" in history) {
        history.scrollRestoration = "manual";
    }

    window.addEventListener("load", function () {
        window.scrollTo(0, 0);
    });
</script>